/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 oct. 2022, 15:31:15
    Author     : malo.breheret
*/

div.static{
    position: static;
    padding:20px;
    border: 3px solid purple;
    width: 310px
}